<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario|Axel</title>
    <link rel="stylesheet" href="/assets/css/axel.css">
</head>
<body>
    <h1>Anecdotario - Axel Zaguilan</h1>
    <div> <a href="../index.html">Volver a la pagina principal</a></div>
    <div class="centrar">
        <img width="250" src="/assets/img/img_axel/axel.jpeg" alt="Es el avatar Aang porque me creo el avatar Aang">
    </div>
    <footer>Copyright 2024 - WebDevs Chingones, todos los derechos reservados</footer>
</body>
</html>
