<!DOCTYPE html>
<html lang="es-mx">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Como conoci a axelin</title>
    </head>
    <body>
        <section>
            <h1>Anecdotario</h1>
            <header>
                <nav>
                    <ol>
                        <li><a href="../index.html">Volver a la pagina principal</a></li>
                        <li><a href="#Como conoci a axel">Como conoci a axel</a></li>
                        <li><a href="#Como mejorar nuestra convivencia">Como mejorar nuestra convivencia</a></li>
                    </ol>
                </nav>
            </header>
        </section>
        <section>
            <h2 id="Como conoci a axel">Como conoci a axel</h2>
            <img src="https://i.pinimg.com/736x/30/8d/72/308d72b3b120699eaaae9397e2e09202.jpg" alt="imagen diciendo ni te topo pa">
            <p>
                axelin y yo vamos en el mismo salon desde el primer semestre, realmente no recuerdo como nos conocimos, posiblemente fue en alguna de las 
                ocasiones donde jugamos "uno", al ser del mismo salon naturalmente se dio la convivencia, aunque le traigo un coraje atorado la vez que formo parte de mi equipo
                en la materia de geometria analitica ?, donde me dejo botado sin hacer su parte del equipo y por mas que le decia al final me dijo 
                claro y directo que no lo iba a hacer, pero ps dejando eso de lado nos llevamos bien y las salidas grupales nos acercaron.
            </p>
        </section>
        <section>
            <h2 id="Como mejorar nuestra convivencia">Como mejorar nuestra convivencia</h2>
            <img src="https://cdn.verbub.com/images/cuando-tu-compa-no-va-a-clases-110153.jpg" alt="meme de tu compa que no va a clases" width="400">
            <p>
                pues primero que nada para mejorar nuestra convivencia debe ir mas a clases, ya que solo va uno o dos dias a la semana y sobre todo solo 
                asiste a una que otra clase jajajaja, a veces sus chistes viboras se le salen pero ps es gracioso el perro ese, asi que yo 
                creo que con que asista mas a clase ya quedo.
            </p>
        </section>
        <section>
            <footer>
                <nav>
                    <ul>
                        <li>Sitio creado por: Josue Ambrocio Roman</li>
                    </ul>
                </nav>
            </footer>
        </section>
    </body>
</html>
