<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario|Axel</title>
</head>
<body>
    <h1>Anecdotario - Axel Zaguilan</h1>
    <div> <a href="../index.html">Volver a la pagina principal</a></div>
    <hr>
    <img width="250" src="/assets/images/axel.jpeg" alt="Es el avatar Aang porque me creo el avatar Aang">
</body>
<footer><hr>Copyright 2024 - WebDevs Chingones, todos los derechos reservados</footer>
</html>
