<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario Jorge</title>
</head>
<body>
    <section>
        <h1>Anecdotario Jorge</h1>
        <p><a href="../index.html">Volver a la página principal</a></p>
        <hr>
        <img width='320' src="../assets/img/jorge.jpg" alt="mi foto abrazado de una mona china" >
    </section>
<section>
    <h2>Cómo Josué conoció a Jorge</h2>
    <img src="https://i.pinimg.com/originals/c4/ec/98/c4ec984bb5119e904925cbfc0477539a.jpg" alt="imagen de vivi diciendo pues sucedio wey" width="600">
    <p>
        Al chile ni me acuerdo de cómo lo conocí, al ser amigo de Azael naturalmente me acerqué a su grupo de amigos, de entre ellos 
        estaba Jorge, así que lo más seguro fue que nos acercamos y nos conocimos por esa razón, luego supimos que jugábamos el mismo juego 
        así que a veces jugábamos, luego entramos al área de cómputo y empezamos a convivir diariamente, lo cual hizo que nos acercáramos
        más naturalmente.
    </p>
</section> 
<section>
    <h2>Cómo mejorar nuestra convivencia</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ87hivpIdYBCrRCH7OnT0YzilHScYmN3Co8A&s" alt="imagen del poder de la amistad">
    <p>
        Mi convivencia con Jorge es buena, nos llevamos bien y al vernos todos los días en la escuela nos permite 
        platicar sin problema alguno, nos hacemos bromas y tiramos desmadre a Iridia, así que realmente nos llevamos bien, 
        supongo que una forma de mejorar nuestra convivencia podría ser con este tipo de trabajos en equipo en los cuales hablamos más 
        e interactuamos de forma constante. 
    </p>
</section>
</body>
</html>

