<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario Jorge</title>
    <link rel="stylesheet" href="../assets/css/jorge.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Condiment&family=Courgette&family=Mynerve&family=Zeyada&display=swap" rel="stylesheet">
</head>
<body class="contenedor">
<div id="contenedor">
    <section>
        <h1>Anecdotario Jorge</h1>
        <p><a href="../index.html" id="volver">Volver a la página principal</a></p>
        <img width='320' src="../assets/img/img_jorge/jorge.jpg" alt="mi foto abrazado de una mona china" >
    </section>
<section>
    <h2>Cómo Josué conoció a Jorge</h2>
    <img src="https://i.pinimg.com/originals/c4/ec/98/c4ec984bb5119e904925cbfc0477539a.jpg" alt="imagen de vivi diciendo pues sucedio wey" width="600">
    <p>
        Al chile ni me acuerdo de cómo lo conocí, al ser amigo de Azael naturalmente me acerqué a su grupo de amigos, de entre ellos 
        estaba Jorge, así que lo más seguro fue que nos acercamos y nos conocimos por esa razón, luego supimos que jugábamos el mismo juego 
        así que a veces jugábamos, luego entramos al área de cómputo y empezamos a convivir diariamente, lo cual hizo que nos acercáramos
        más naturalmente.
    </p>
</section> 
<section>
    <h2>Cómo mejorar nuestra convivencia</h2>
    <img src="../assets/img/img_jorge/3dedos.png" alt="imagen del poder de la amistad">
    <p>
        Mi convivencia con Jorge es buena, nos llevamos bien y al vernos todos los días en la escuela nos permite 
        platicar sin problema alguno, nos hacemos bromas y tiramos desmadre a Iridia, así que realmente nos llevamos bien, 
        supongo que una forma de mejorar nuestra convivencia podría ser con este tipo de trabajos en equipo en los cuales hablamos más 
        e interactuamos de forma constante. 
    </p>
</section>
<section>
    <h3>Cómo Axel conoció a Jorge</h3>
    <P>Tenía una amiga llamada Estefanía la cual mi compañero Jorge gustaba de ella, 
        <br>por ser amigovio de mi amiga era casi obvio que en algún momento iba a cono- <br>
        cerlo y por tanto platicar con él pero como todo en esta vida esta relación si es <br> 
        que podemos llamarlo así... llegó a su fin pero como me cayó bien y es curiosito <br>
        ademas de que va en mi mismo salón pues terminé llevandome con él; FIN  </P> 
    <h3>Cómo podríamos mejorar la convivencia:</h3>
    <p>Ora, ya así estamos bien para qué mejorarla despues me va a querer besar.</p>

</section>
<section>
    <img id="corona" src="../assets/img/img_jorge/corona.gif" alt="corona giratoria">
    <img id="corona2" src="../assets/img/img_jorge/corona.gif" alt="corona giratoria">
</section>
<section>
    <img id="mona1" src="../assets/img/img_jorge/dance11.gif" alt="mona bailando">
    <img id="mona2" src="../assets/img/img_jorge/dance12.gif" alt="mona bailando">
    <img id="mona3" src="../assets/img/img_jorge/dance13.gif" alt="mona bailando">
    <img id="mona4" src="../assets/img/img_jorge/dance14.gif" alt="mona bailando">
</section>
<section>
    <img id="asomada" src="../assets/img/img_jorge/asomada.png" alt="una monita de anime asomada de la pantalla">
</section>
<section>
    <img id="kirby" src="../assets/img/img_jorge/kirby.gif" alt="kirby cayendo con una sombrilla">
</section>
</div>
</body>
</html>
