<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anecdotario|Jorge</title>
</head>
<body>
    <div><a href="../index.html">Volver a la pagina principal</a></div>
    <hr>
    <h3>Como conocí a Jorge</h3>
    <P>Tenía una amiga llamada Estefanía la cual mi compañero Jorge gustaba de ella, 
        <br>por ser amigovio de mi amiga era casi obvio que en algún momento iba a cono- <br>
        cerlo y por tanto platicar con él pero como todo en esta vida esta relación si es <br> 
        que podemos llamarlo así... llegó a su fin pero como me cayó bien y es curiosito <br>
        ademas de que va en mi mismo salón pues terminé llevandome con él; FIN  </P> 
    <hr>
    <h3>Cómo podríamos mejorar la convivencia:</h3>
    <p>Ora, ya así estamos bien para qué mejorarla despues me va a querer besar.</p>


</body>
</html>
