
<!DOCTYPE html>
<html lang="en-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josue</title>
</head>
<body>
    <h1>Anecdotario de Josue</h1>
    <a href="../index.html">Volver a la pagina principal</a>
    <hr>
    <h2>En donde conoci al josue</h2>
    <p>Lo conoci en la facultad, cuando se juntaban los dos grupos y veia que el vato aguantaba carrilla fue cuando me comenzo a caer bien</p>
    <h2>¿Que nos hace falta para fomentar mas nuestra relación?</h2>
    <ol>
        <li>Volverle a tomar una foto mientras ande meando</li>
        <li>salir a una peda</li>
    </ol>
</body>
</html>