<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><a href="../index.html">Volver a la pagina principal</a></div>
    <hr>
    <h3>Como conocí a Josue</h3>
    <P>A entrar a presenciales yo conocía ya a mi compañera a Vanya, ella ya tenía <br>
    un amigo de años en efecto ese es Josue al entrar en contacto con Vanya tam-<br> 
    bien entraba en contacto con Josue y con el paso de los semestres fuimos aga- <br>
    rrando confianza a tal grado que le puedo agarrar una chichi y en vez de dis- <br>
    gusto le genero placer. Fin</P> 
    <hr>
    <h3>Cómo podríamos mejorar la convivencia:</h3>
    <p>Yo creo que así estamos bien despues va a querer otra cosa y no quiero que <br>
    que se confunda.</p>

</body>
</html>

