<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/josue.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Anecdotario de Josué</h1>
    <audio autoplay loop>
        <source src="../assets/music/Le Souvenir avec le crepuscule.mp3">
    </audio>
    <div><a href="../index.html">Volver a la pagina principal</a></div>
    <h1>Anecdotario de Josué</h1>
    <audio autoplay loop>
        <source src="../assets/music/Le Souvenir avec le crepuscule.mp3">
    </audio>
    <div><a href="../index.html">Volver a la pagina principal</a></div>
    
    <img src="../assets/img/img_josue/yo2.png" alt="imagen de josue" width="300">
    
    <h2>Como Axel conocio a Josué</h2>
    <P>A entrar a presenciales yo conocía ya a mi compañera a Vanya, ella ya tenía
    un amigo de años en efecto ese es Josue al entrar en contacto con Vanya tambien entraba en contacto con Josue y con el paso de los semestres fuimos agarrando confianza a tal grado que le puedo agarrar una chichi y en vez de 
    disgusto le genero placer. Fin</P> 
    
    <h2>Cómo podríamos mejorar la convivencia:</h2>
    <p>Yo creo que así estamos bien despues va a querer otra cosa y no quiero que
    que se confunda.</p>

</body>
</html>

<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Josué</title>
</head>
<body>
    
    
    <h2>En donde Jorge conoció a Josué</h2>
    <p>Lo conocí en la facultad, cuando se juntaban los dos grupos y veía que el vato aguantaba <br>
        carrilla, fue cuando me comenzó a caer bien, y ya de ahi comenzamos a hablar mas, de ahí <br>
        comenzamos a ver que nos gustaban los mismos juegos y comenzamos a jugar brawl star juntos, <br>
        jugamos en horas libres y a veces en nuestras casas, de ahi me di cuenta que su main era surge, un <br>
        personaje bien castroso pero el lo dominaba con madres.</p>

    <img src="../assets/img/img_josue/surge.gif" alt="personaje de brawl star">

    <h2>¿Qué nos hace falta para fomentar más nuestra relación?</h2>
    <ol>
        <li>Volverle a tomar una foto mientras ande meando</li>
        <li>Salir a una peda</li>
        <li>Seguir jugando mas videojuegos</li>
        <li>Ver mas anime</li>
    </ol>
    <img src="../assets/img/img_josue/perritos.gif" alt="perritos abrazandose">
</body>
</html>