@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url(../img/img_axel/fondo.jpg) ;
    background-size: cover; /* ajusta la imagen para cubrir toda la pantalla*/
    background-repeat: no-repeat; /*evita que la imagen se repita */
    background-position: center; /*centra la imagen */
    font-family: "Poppins", sans-serif;
    text-align: center;
}

h1 {
    color: beige;
}

h2{
    color: aliceblue;
}

footer {
    color: beige;
}

p{
    color: aliceblue;
}